<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>My name is Gabe Hardy-Fowler and I am a senior Game Design and Computer Science
          major at Miami University. I have great passion for developing software, whether video games,
          websites, or others. With my dual major background, I've been fortunate
          enough to exercise my creativity while also being able to hone my technical skills and understanding
          across many tools, applications, and disciplines.</p>
      </div>
      <div class="col-lg-4">
        <p>Throughout my education and internship experience, I have not only gained experience and appreciation
          for software development, but cybersecurity and cloud technology as well. I am always excited by
          the prospect of learning something new, especially within the realm of technology, and I aim to
          be a life long learner. Whether working alongside a team or developing something on my own,
          there is no greater reward than becoming a better version of myself by the end of each project.</p>
      </div>
      <!--<div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>-->
    </div>
  </div>
</section>
